{% extends 'base.html' %}


{% block content %}

    <h1>Edit Many</h1>

    <h2>Original values</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        {% for transaction in transaction_objects_to_edit %}
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.category }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  <h2>New values</h2>
  <form action="{% url 'beans:transaction_update_many' %}" method="post">
    {% csrf_token %}

    <!--
	<p>{{ transaction_ids_to_edit }}</p>
    -->
    {{ formTransactionEditManyForm.as_p }}

    {% for transaction in transaction_ids_to_edit %}
      <input type="checkbox" name="checked_transaction" value="{{ transaction }}" checked="true" style="visibility:hidden">
    {% endfor %}

	<button type="submit" class="btn btn-primary" name="to_transaction_update_many">Update Transactions</button>
  </form>

  <!--
  <form action="{% url 'beans:transaction_update_many' %}" method="post">
    {% csrf_token %}
    <p>{{ transaction_ids_to_edit }}</p>
    {{ form.as_p }}

    {% for transaction in transaction_ids_to_edit %}
      <input type="checkbox" name="checked_transaction" value="{{ transaction }}" checked="true" style="visibility:hidden">
    {% endfor %}

    <button type="submit" class="btn btn-primary" name="to_transaction_update_many">To Update Many</button>
  </form>
  -->

{% endblock %}
